
.movieListBox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    /* justify-items: stretch; */
    /* align-items: stretch; */
}

/* vymezit pro movieBox odkud kam budou sahat? */
.movieBox { 

    display: grid; 
    grid-template-columns: 1fr 2fr; 
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;   
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
    overflow: hidden;
    } 

.posterBox {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.poster {
    width: 100%;
    background-position: center center;
    
}

.ratingBox{
    text-align: center;
    position: absolute;
}

.rating {
    background-color: rgb(241, 182, 71);
    color: white;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    height: 20px;
    width: 100px;
    margin: 0;

    transform: rotate(-45deg);
    position: relative;
    left: -35px;
    top: -300px;
}

.informationBox {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    font-size: 13px;
    padding-left: 10px;

}

.castTitle {
    margin-top: 10px;
    margin-bottom: 5px;
}

.informationBox__actors {
    display: flex;
    flex-wrap: wrap;
}

.nameAndAs {
    padding: 5px;
}

h3,
h5,
p {
    margin: 0;
}

.castTitle,
.title {
    color: rgb(233, 52, 52);
}


.year {
    margin-top: 10px;
}

.castAs {
    color: gray;
}



